

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    "HTML-CSS": {
      availableFonts: ["TeX"],
    },
    tex2jax: {
      inlineMath: [['$','$']]},
      displayMath: [ ['$$','$$']],
    TeX: {
      extensions: ["AMSmath.js", "AMSsymbols.js", "color.js"],
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    showProcessingMessages: false,
    messageStyle: "none",
    imageFont: null,
    "AssistiveMML": { disabled: true }
  });
</script>
<script  type="text/javascript" src="{{ '/assets/lib/mathjax/tex-chtml.js' | relative_url }}"></script>